/* Footer styles */
.footer {
  padding: 40px 0;
  background-color: var(--primary-color); /* Dark background color */
  color: #fff;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer-logo img {
  max-width: 180px;
  margin-bottom: 15px;
}

.footer-description {
  margin-top: 10px;
  font-size: 0.9rem;
  line-height: 1.6;
  color: #ccc;
}


.footer-links-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align links to the left */
  gap: 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
}

.footer-links a:hover {
  color: var(--secondary-color);
}

.footer-contact {
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.footer-heading {
  margin-bottom: 15px;
  font-weight: bold;
  color: #f8b400; /* Primary color for headings */
}

.footer-contact p,
.footer-links a {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .footer {
    text-align: center;
  }
  .footer-logo img {
    margin: 0 auto 15px auto;
  }
  .footer-links-container,
  .footer-contact, .footer-payment {
    align-items: center;
  }
}


.footer-payment {
  margin-top: 20px; /* Space between contact and payment sections */
  text-align: left;
}

.payhere-logo {
  width: 100px; /* Adjust the size as needed */
  height: auto;
  margin-top: 10px; /* Space between the text and logo */
}

.footer-copyright {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}