/* Footer styles */
.footer {
  padding: 40px 0;
  background-color: var(--primary-color); /* Dark background color */
  color: #fff;
  width: 100%;
  box-sizing: border-box; /* Ensure padding is included in width */
}

.footer-logo img {
  max-width: 180px;
  width: 100%; /* Make the image responsive */
  height: auto;
  margin-bottom: 15px;
}

.footer-description {
  margin-top: 10px;
  font-size: 0.9rem;
  line-height: 1.6;
  color: #ccc;
}

.footer-links-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
}

.footer-links a:hover {
  color: var(--secondary-color);
}

.footer-contact {
  font-size: 0.9rem;
}

.footer-heading {
  margin-bottom: 15px;
  font-weight: bold;
  color: var(--secondary-color); /* Use secondary color for headings */
}

.footer-contact p,
.footer-links a {
  margin: 5px 0;
}

.footer-payment {
  margin-top: 20px; /* Space between contact and payment sections */
}

.payhere-logo {
  width: 100px; /* Adjust the size as needed */
  height: auto;
  margin-top: 10px; /* Space between the text and logo */
}

.footer-copyright {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

/* Responsive styles */
@media (max-width: 768px) {
  .footer {
    text-align: center;
  }

  .footer-logo img {
    max-width: 150px; /* Adjust logo size for smaller screens */
  }

  .footer-description {
    font-size: 0.8rem; /* Smaller font size for better readability */
  }

  .footer-links a {
    font-size: 0.8rem; /* Adjust font size for links */
  }

  .footer-links-container {
    display: block; /* Stack links vertically */
  }
}
