
  
  
  .restaurant-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--primary-color);
    font-family: var(--font-family);
  }
  
  .restaurant-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
  }
  
  .restaurant-card {
    flex: 1;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .restaurant-card:hover {
    transform: translateY(-10px);
  }
  
  .restaurant-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  
  .restaurant-card-content {
    padding: 20px;
    text-align: left;
  }
  
  .restaurant-card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .restaurant-card-description {
    font-size: 1rem;
    color: #666;
  }
  
  .restaurant-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--primary-color);
    font-family: var(--font-family);
  }
  
  .facility-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
  }
  
  .facility-card {
    flex: 1;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .facility-card:hover {
    transform: translateY(-10px);
  }
  
  .facility-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .facility-heading {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--primary-color);
  }
  
  .facility-description {
    font-size: 1rem;
    color: #666;
  }
  